<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78315821008-b6kueudcn4uhu113mohou0eislsfejih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78315821008-b6kueudcn4uhu113mohou0eislsfejih</string>
	<key>API_KEY</key>
	<string>AIzaSyDU_bsMobG2QFpO7716OrvvJxRuXajsyEc</string>
	<key>GCM_SENDER_ID</key>
	<string>78315821008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haru</string>
	<key>PROJECT_ID</key>
	<string>haru-ssu</string>
	<key>STORAGE_BUCKET</key>
	<string>haru-ssu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78315821008:ios:44348af5e3250bb4900bd5</string>
</dict>
</plist>